@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Global Styles */
:root {
  --primary-color: #c0392b;
  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --dark-color: #2c3e50;
  --light-color: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #2c3e50;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.wrapper {
  min-height: calc(100vh - 69px);
  max-width: calc(800px - (30px * 2));
  margin: 0 auto;
}

.container {
  max-width: 1199px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

/* Article */
.article {
  padding: 1rem;
  margin: 0.7rem 0;
}

.article-title {
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.4rem;
}

.article-description {
  line-height: 1.2;
  margin-bottom: 0.6rem;
}

/* Button */
.btn {
  display: inline-block;
  background: #fff;
  color: var(--dark-color);
  padding: 0.3rem 1.3rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-link {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-link:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--dark-color);
  border: 2px solid var(--dark-color);
  color: var(--light-color);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-danger {
  background-color: var(--danger-color);
  border: 2px solid var(--danger-color);
  color: var(--light-color);
}

.btn-danger:hover {
  opacity: 0.8;
}

.btn-block {
  border: 2px solid var(--dark-color);
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.45rem 1.3rem;
  margin-right: 0.2rem;
}

.message {
  top: auto;
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  padding: 1rem;
  background: var(--success-color);
}

.btn-primary,
.bg-primary,
.message-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.message-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.message-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.message-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.message-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.message-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.bg-light {
  border: #ccc solid 1px;
}

/* Forms */
input {
  margin: 0.2rem 0 0.8rem 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--dark-color);
}

input[type='submit'],
button {
  font: inherit;
}

input:focus {
  outline: none;
}

/* Navbar */
.navbar {
  padding: 1rem;
  z-index: 1;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.navbar a {
  color: #333;
  padding: 1rem;
}

.navbar a:hover {
  opacity: 0.9;
}

.content {
  padding: 1rem;
}

/* Footer */
.footer {
  width: 100%;
  height: 70px;
  line-height: 1.5em;
  text-align: center;
}

.x {
  display: block;
  position: fixed;
  right: 50px;
  font-size: 1.8rem;
  transition: transform 0.25s ease-in-out;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: left;
  }

  .x {
    right: 30px;
  }
}
